/node_modules
/out
vendor
tmp
autolispext*.zip
package.nls.*.json

.nyc_output
.vscode-test
coverage
test-resources

utils/HelpAbstractionGenerator/**/*.pdb
utils/HelpAbstractionGenerator/**/*.xml
utils/HelpAbstractionGenerator/.vs
utils/HelpAbstractionGenerator/obj
utils/HelpAbstractionGenerator/packages

utils/autolispext.i18.helper/**/*.pdb
utils/autolispext.i18.helper/**/*.xml
utils/autolispext.i18.helper/.vs
utils/autolispext.i18.helper/obj
utils/autolispext.i18.helper/packages

extension/src/test/OutputFile

*.vsix