node_modules
out
vendor
tmp
autolispext*.zip
package.nls.*.json

.nyc_output
.vscode-test
coverage
test-resources

utils/HelpAbstractionGenerator/**/*.pdb
utils/HelpAbstractionGenerator/**/*.xml
utils/HelpAbstractionGenerator/.vs
utils/HelpAbstractionGenerator/obj
utils/HelpAbstractionGenerator/packages