.git/**
.nyc_output/**
.vscode/**
.vscode-test/**
coverage/**
extension/out/test/**
extension/out/**/*.map
extension/src/**
extension/package-lock.json
extension/tsconfig.json
extension/vsc-extension-quickstart.md
extension/node_modules/**
test_case/**
test-resources/**
vendor/**
out/test/**
out/**/*.map
src/**
.gitignore
.vscodeignore
DevREADME.md
Jenkinsfile
pack.py
winCompile.bat
package-lock.json
tsconfig.json
tslint.json
utils/**
